body {
	font-family: "游ゴシック", "Yu Gothic UI", "Meiryo UI", "Hiragino Kaku Gothic ProN", "sans-serif";
	font-size: 14px;
}

h1,h3,h4,h5,h6 {
	font-weight:bold;
	margin: 1em 0 0.25em 0;
	padding: 0.25em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

.math {
  font-size: 12px;
}

p {
  margin: 0.75em 0 0.75em 0;
}

tt, code, pre {
   font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}

/* コメントアウト*/
span.co {
  font-family: "游ゴシック", "Yu Gothic UI", "Meiryo UI", "Hiragino Kaku Gothic ProN", "sans-serif";
  color: #0B6138;
  font-style: normal;
}

/* 引用部分 */ 
blockquote {
  font-size: 14px;
}

/* 日付部分を斜体にしない */
em {
  font-style: normal;
}

/*
div.section.level1 h1{
	display:block;
	position: relative;
  border-top: solid 2px #A9D0F5;
  border-bottom: solid 2px #A9D0F5;
  background: #f4f4f4;
  line-height: 1.4;
  padding: 0.4em 0.5em;
  margin: 2em 0 0.5em;
}*/

div.section.level1 h1 {
  /*color: #6cb4e4;
  text-align: center;*/
  padding: 0.5em;
  border-top: solid 2px #BDBDBD; /* blue: #6cb4e4 */
  border-bottom: solid 2px #BDBDBD;
  background: -webkit-repeating-linear-gradient(-45deg, #E6E6E6, #F2F2F2 3px,#E6E6E6 3px, #E6E6E6 7px);
  background: repeating-linear-gradient(-45deg, #E6E6E6, #F2F2F2 3px,#E6E6E6 3px, #E6E6E6 7px);
}

/*
div.section.level2 h2 {
    position: relative;
    padding: 0.15em 0;
}
div.section.level2 h2:after {
  margin-top: 0.1em;
  content: "";
  display: block;
  height: 2px;
  background: -webkit-linear-gradient(to right, #BDBDBD, #E6E6E6);
  background: linear-gradient(to right, #BDBDBD, #E6E6E6);
}
*/

div.section.level2 h2 {
  border-bottom: solid 3px #E6E6E6;
  position: relative;
}

div.section.level2 h2:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #BDBDBD;
  bottom: -3px;
  width: 5%;
}
h2 {
	font-weight:bold;
	margin: 1em 0 0.25em 0;
	padding-bottom: 0.25em;
}

/*
div.section.level1 h2{
	display:block;
	border-bottom:1px solid lightgray;
}*/


/* card は単なる囲い。アルゴリズムや補足情報を書くときに使っている */
.card {
  border: solid silver 1px;
  border-radius: 1px;
  background-color: white;
  padding: 0.5em;
}
.card ol {
  padding-inline-start: 2em;
  margin: 1em;
}
